*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-title {
  text-align: center;
}

.container {
  display: flex;

  padding: 25px 25px 25px 25px;
  justify-content: center;
}

.tier-box {
  flex: 2;

  background-color: orange;

  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.champion-box {
  flex: 5;

  background-color: purple;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  width: 65px;
  height: 150px;
  /* background-color: lightcoral; */
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 50px;
}

.btn {
  background-color: lightblue;
  padding: 10px;
  border-radius: 5px;
}

.champion-image {
  flex: 4;
}

.champion-image img {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
  border: 5px solid yellow;
}

.champion-name {
  color: white;
  font-size: 20px;
  flex: 4;
  text-align: center;
  text-wrap: balance;
  display: flex;
  align-items: start;
}

.tier-list-container {
  background-color: rgb(27, 24, 110);
  min-height: 100vh;
}

.page-title {
  color: white;
}
