*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(27, 24, 110);
}

.tier-list-container {
  margin-top: 20px;
  padding: 0 50px;
  margin: 0 auto;
}

.page-title {
  font-size: 40px;
  letter-spacing: 5px;
  color: white;
  margin: 20px 0;
  text-transform: uppercase;
}

.container {
  display: flex;
  padding: 8px 0;
  max-width: 70%;
}

.tier-box {
  flex: 2;
  background-color: rgb(255, 166, 0);
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.champion-box {
  flex: 6;
  background-color: rgba(236, 20, 168, 0.501);
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.box {
  width: 65px;
  height: 110px;
  /* background-color: lightcoral; */
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 25px;
}

.btn {
  background-color: #e2d2d2;
  padding: 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

.champion-image {
  flex: 4;
}

.champion-image img {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
  border: 5px solid greenyellow;
}

.champion-name {
  color: white;
  font-weight: bold;
  font-size: 10px;
  flex: 4;
  text-align: center;
  text-wrap: balance;
  display: flex;
  align-items: start;
}

.role-buttons {
  margin: 20px 0;
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .tier-list-container {
    padding: 0 25px;
  }

  .page-title {
    font-size: 24px;
  }

  .btn {
    padding: 5px;
  }

  .tier-box {
    flex: 1;
  }

  .champion-box {
    flex: 10;
  }

  .box {
    width: 65px;
    height: 100px;
    /* background-color: lightcoral; */
    margin: 10px 0;
    margin-right: 10px;
}
.container {
  max-width: 100%;
  flex-direction: column;
}
