---
import BaseLayout from "../layouts/BaseLayout.astro"
import ChampionFilter from "../components/ChampionFilter.jsx"

const champions = {
  op: [
    /* baron */
    { name: 'darius', roles: ['baron'] },
    { name: 'renekton', roles: ['baron'] },
    { name: 'riven', roles: ['baron'] },
    { name: 'aatrox', roles: ['baron'] },
    { name: 'mordekaiser', roles: ['baron'] },
    { name: 'ornn', roles: ['baron'] },
    { name: 'camille', roles: ['baron'] },
    /* jungle */
    { name: 'rengar', roles: ['jungle'] },
    { name: 'gragas', roles: ['jungle'] },
    { name: 'vi', roles: ['jungle'] },
    { name: 'lee-sin', roles: ['jungle'] },
    /* mid */
    { name: 'syndra', roles: ['mid'] },
    { name: 'kassadin', roles: ['mid'] },
    { name: 'morgana', roles: ['mid'] },
    { name: 'yone', roles: ['mid'] },
    /* dragon */
    { name: 'varus', roles: ['dragon'] },
    { name: 'ezreal', roles: ['dragon'] },
    { name: 'xayah', roles: ['dragon'] },
    { name: 'kalista', roles: ['dragon'] },
    /* support */
    { name: 'milio', roles: ['support'] },
    { name: 'maokai', roles: ['support'] },
    { name: 'lulu', roles: ['support'] },
  ],
  s: [
    /* baron */
    { name: 'kayle', roles: ['baron'] },
    { name: 'jax', roles: ['baron'] },
    { name: 'fiora', roles: ['baron'] },
    { name: 'wukong', roles: ['baron'] },
    { name: 'jayce', roles: ['baron'] },
    { name: 'gragas', roles: ['baron'] },
    { name: 'akali', roles: ['baron'] },
    { name: 'sett', roles: ['baron'] },
    { name: 'maokai', roles: ['baron'] },
    { name: 'yasuo', roles: ['baron'] },
      /* jungle */
    { name: 'kayle', roles: ['jungle'] },
    { name: 'wukong', roles: ['jungle'] },
    { name: 'riven', roles: ['jungle'] },
    { name: 'viego', roles: ['jungle'] },
    { name: 'xin-zhao', roles: ['jungle'] },
    { name: 'kha-zix', roles: ['jungle'] },
    { name: 'darius', roles: ['jungle'] },
    { name: 'graves', roles: ['jungle'] },
    { name: 'nunu', roles: ['jungle'] },
    { name: 'master-yi', roles: ['jungle'] },
    { name: 'talon', roles: ['jungle'] },
    { name: 'ekko', roles: ['jungle'] },
    { name: 'aatrox', roles: ['jungle'] },
    { name: 'hecarim', roles: ['jungle'] },
    { name: 'amumu', roles: ['jungle'] },
    { name: 'maokai', roles: ['jungle'] },
    { name: 'lillia', roles: ['jungle'] },
    { name: 'camille', roles: ['jungle'] },
    /* mid */
    { name: 'kayle', roles: ['mid'] },
    { name: 'ahri', roles: ['mid'] },
    { name: 'akali', roles: ['mid'] },
    { name: 'diana', roles: ['mid'] },
    { name: 'jayce', roles: ['mid'] },
    { name: 'gragas', roles: ['mid'] },
    { name: 'ziggs', roles: ['mid'] },
    { name: 'corki', roles: ['mid'] },
    { name: 'zed', roles: ['mid'] },
    { name: 'yone', roles: ['mid'] },
    /* dragon */
    { name: 'caitlyn', roles: ['dragon'] },
    { name: 'kaisa', roles: ['dragon'] },
    { name: 'zeri', roles: ['dragon'] },
    { name: 'sivir', roles: ['dragon'] },
    { name: 'tristana', roles: ['dragon'] },
    { name: 'ashe', roles: ['dragon'] },
    /* support */
    { name: 'braum', roles: ['support'] },
    { name: 'janna', roles: ['support'] },
    { name: 'zyra', roles: ['support'] },
    { name: 'karma', roles: ['support'] },
    { name: 'soraka', roles: ['support'] },
    { name: 'nautilus', roles: ['support'] },
    { name: 'pyke', roles: ['support'] },
    { name: 'thresh', roles: ['support'] },
    { name: 'gragas', roles: ['support'] },
    { name: 'leona', roles: ['support'] },
  ],
  a: [
  /* baron */
  { name: 'garen', roles: ['baron'] },
  { name: 'yone', roles: ['baron'] },
  { name: 'kennen', roles: ['baron'] },
  { name: 'dr-mundo', roles: ['baron'] },
  { name: 'malphite', roles: ['baron'] },
  { name: 'volibear', roles: ['baron'] },
  { name: 'nasus', roles: ['baron'] },
  { name: 'gwen', roles: ['baron'] },
  { name: 'sion', roles: ['baron'] },
  { name: 'shen', roles: ['baron'] },
  { name: 'urgot', roles: ['baron'] },
    /* jungle */
  { name: 'jax', roles: ['jungle'] },
  { name: 'kindred', roles: ['jungle'] },
  { name: 'shyvana', roles: ['jungle'] },
  { name: 'volibear', roles: ['jungle'] },
  { name: 'pantheon', roles: ['jungle'] },
  { name: 'olaf', roles: ['jungle'] },
  { name: 'nautilus', roles: ['jungle'] },
  { name: 'kayn', roles: ['jungle'] },
  { name: 'nilah', roles: ['jungle'] },
  { name: 'zed', roles: ['jungle'] },
  { name: 'diana', roles: ['jungle'] },
  { name: 'warwick', roles: ['jungle'] },
  { name: 'tryndamere', roles: ['jungle'] },
  { name: 'rammus', roles: ['jungle'] },
  { name: 'jarvan-iv', roles: ['jungle'] },
  { name: 'yone', roles: ['jungle'] },
  { name: 'mordekaiser', roles: ['jungle'] },
  { name: 'shen', roles: ['jungle'] },
  /* mid */
  { name: 'zoe', roles: ['mid'] },
  { name: 'akshan', roles: ['mid'] },
  { name: 'twisted-fate', roles: ['mid'] },
  { name: 'vex', roles: ['mid'] },
  { name: 'veigar', roles: ['mid'] },
  { name: 'ekko', roles: ['mid'] },
  { name: 'vladimir', roles: ['mid'] },
  { name: 'zyra', roles: ['mid'] },
  { name: 'annie', roles: ['mid'] },
  { name: 'irelia', roles: ['mid'] },
  { name: 'lissandra', roles: ['mid'] },
  /* dragon */
  { name: 'lucian', roles: ['dragon'] },
  { name: 'draven', roles: ['dragon'] },
  { name: 'corki', roles: ['dragon'] },
  { name: 'missfortune', roles: ['dragon'] },
  { name: 'jhin', roles: ['dragon'] },
  { name: 'samira', roles: ['dragon'] },
  /* support */
  { name: 'alistar', roles: ['support'] },
  { name: 'ornn', roles: ['support'] },
  { name: 'sona', roles: ['support'] },
  { name: 'seraphine', roles: ['support'] },
  { name: 'nami', roles: ['support'] },
  { name: 'rakan', roles: ['support'] },
  { name: 'lux', roles: ['support'] },
  { name: 'senna', roles: ['support'] },
  { name: 'yuumi', roles: ['support'] },
  ],
  b: [
  /* baron */
  { name: 'pantheon', roles: ['baron'] },
  { name: 'irelia', roles: ['baron'] },
  { name: 'olaf', roles: ['baron'] },
  { name: 'vladimir', roles: ['baron'] },
  { name: 'swain', roles: ['baron'] },
  { name: 'tryndamere', roles: ['baron'] },
  { name: 'teemo', roles: ['baron'] },
  /* jungle */
  { name: 'gwen', roles: ['jungle'] },
  { name: 'jayce', roles: ['jungle'] },
  { name: 'dr-mundo', roles: ['jungle'] },
  { name: 'morgana', roles: ['jungle'] },
  { name: 'fizz', roles: ['jungle'] },
  { name: 'fiddlesticks', roles: ['jungle'] },
  { name: 'evelynn', roles: ['jungle'] },
  /* mid */
  { name: 'kennen', roles: ['mid'] },
  { name: 'orianna', roles: ['mid'] },
  { name: 'galio', roles: ['mid'] },
  { name: 'karma', roles: ['mid'] },
  { name: 'lux', roles: ['mid'] },
  { name: 'aurelion-sol', roles: ['mid'] },
  { name: 'swain', roles: ['mid'] },
  { name: 'katarina', roles: ['mid'] },
  { name: 'talon', roles: ['mid'] },
  { name: 'lucian', roles: ['mid'] },
  { name: 'fizz', roles: ['mid'] },
  /* dragon */
  { name: 'jinx', roles: ['dragon'] },
  { name: 'nilah', roles: ['dragon'] },
  { name: 'vayne', roles: ['dragon'] },
  { name: 'twitch', roles: ['dragon'] },
  /* support */
  { name: 'galio', roles: ['support'] },
  { name: 'brand', roles: ['support'] },
  { name: 'morgana', roles: ['support'] },
  { name: 'blitzcrank', roles: ['support'] },
  ],
  c: [
    /* baron */
    { name: 'singed', roles: ['baron'] },
    /* jungle */
    { name: 'nasus', roles: ['jungle'] },
    { name: 'irelia', roles: ['jungle'] },
    /* mid */
    { name: 'brand', roles: ['mid'] },
    /* dragon */
    { name: 'senna', roles: ['dragon'] },
    /* support */
    { name: 'malphite', roles: ['support'] },
    { name: 'swain', roles: ['support'] },
  ],
  d: [
    /* jungle */
    { name: 'twitch', roles: ['jungle'] },
    /* dragon */
    { name: 'akshan', roles: ['dragon'] },
    { name: 'kindred', roles: ['dragon'] },
  ]
};
---


<BaseLayout>
  <h2 class="page-title">Champion Tier List Patch 5.2B</h2>

  <!-- Importujemy komponent filtrowania -->
  <ChampionFilter champions={champions} client:load />
</BaseLayout>