---
import BaseLayout from "../layouts/BaseLayout.astro";
import ChampionFilter from "../components/ChampionFilter.jsx";

const champions = {
  s: [
    /* enchant */
    { name: "stasis", roles: ["enchant"] },
  ],
  a: [
    /* enchant */
    { name: "gargoyle", roles: ["enchant"] },
    { name: "veil", roles: ["enchant"] },
    { name: "quicksilver", roles: ["enchant"] },
    { name: "protobelt", roles: ["enchant"] },
  ],
  b: [/* enchant */ { name: "locket", roles: ["enchant"] }],
  c: [
    /* enchant */
    { name: "glorious", roles: ["enchant"] },
    { name: "revitalizing-grail", roles: ["enchant"] },
    { name: "magnetron", roles: ["enchant"] },
    { name: "meteor", roles: ["enchant"] },
  ],
  d: [
    /* enchant */
    { name: "teleport", roles: ["enchant"] },
    { name: "repulsor", roles: ["enchant"] },
    { name: "ravenous-hydra", roles: ["enchant"] },
  ],
};
---

<BaseLayout>
  <h2 class="page-title">Champion Tier List Patch 5.2B</h2>

  <!-- Importujemy komponent filtrowania -->
  <ChampionFilter
    champions={champions}
    folder="items"
    filter_type={["ad/physical", "ap/magical", "tank", "boots", "enchant"]}
    client:load
  />
</BaseLayout>
