---
import BaseLayout from "../layouts/BaseLayout.astro";
import ChampionFilter from "../components/tier-list/ChampionFilter.jsx";

const items = {
  s: [
    /* ad */
    { name: "youmuus-ghostblade", roles: ["ad"], title: "Youmuu's Ghostblade" },
    { name: "trinity-force", roles: ["ad"], title: "Trinity Forcce" },
    { name: "mortal-reminder", roles: ["ad"], title: "Mortal Reminder" },
    { name: "terminus", roles: ["ad"], title: "Terminus" },
    /* ap */
    { name: "rabadons-deathcap", roles: ["ap"], title: "Rabadon's Deathcap" },
    { name: "infinity-orb", roles: ["ap"], title: "Infinity Orb" },
    /* tank */
    { name: "warmogs-armor", roles: ["tank"], title: "Warmog's Armor" },
    { name: "heartsteel", roles: ["tank"], title: "Heartsteel" },
    /* boots */
    { name: "mercurys-treads", roles: ["boots"], title: "Mercury's Treads" },
    { name: "plated-steelcaps", roles: ["boots"], title: "Plated Steelcaps" },
    /* enchant */
    { name: "stasis", roles: ["enchant"], title: "Stasis" },
    /* support */
    { name: "ancient-coin", roles: ["support"], title: "Ancient Coin" },
    { name: "relic-shield", roles: ["support"], title: "Relic Shield" },
  ],
  a: [
    /* ad */
    { name: "black-cleaver", roles: ["ad"], title: "Black Cleaver" },
    { name: "edge-of-night", roles: ["ad"], title: "Edge of Night" },
    { name: "divine-sunderer", roles: ["ad"], title: "Divine Sunderer" },
    { name: "sundered-sky", roles: ["ad"], title: "Sundered Sky" },
    { name: "bloodthirster", roles: ["ad"], title: "Bloodthirster" },
    /* ap */
    {
      name: "crown-of-the-shattered-queen",
      roles: ["ap"],
      title: "Crown of the Shattered Queen",
    },
    { name: "ludens-echo", roles: ["ap"], title: "Luden's Echo" },
    { name: "ardent-censer", roles: ["ap"], title: "Ardent Censer" },
    { name: "harmonic-echo", roles: ["ap"], title: "Harmonic Echo" },
    { name: "liandrys-torment", roles: ["ap"], title: "Liandry's Torment" },
    /* boots */
    { name: "boots-of-mana", roles: ["boots"], title: "Boots of Mana" },
    {
      name: "gluttonous-greaves",
      roles: ["boots"],
      title: "Gluttonous Greaves",
    },
    {
      name: "berserkers-greaves",
      roles: ["boots"],
      title: "Berserker's Greaves",
    },
    /* enchant */
    { name: "gargoyle", roles: ["enchant"], title: "Gargoyle" },
    { name: "veil", roles: ["enchant"], title: "Veil" },
    { name: "quicksilver", roles: ["enchant"], title: "Quicksilver" },
    { name: "protobelt", roles: ["enchant"], title: "Protobelt" },
    /* support */
    { name: "spectral-sickle", roles: ["support"], title: "Spectral Sickle" },
  ],
  b: [
    /* ad */
    { name: "magnetic-blaster", roles: ["ad"], title: "Magnetic Blaster" },
    { name: "wits-end", roles: ["ad"], title: "Wit's End" },
    { name: "serpents-fang", roles: ["ad"], title: "Serpent's Fang" },
    { name: "infinity-edge", roles: ["ad"], title: "Infinity Edge" },
    { name: "solari-chargeblade", roles: ["ad"], title: "Solari Chargeblade" },
    { name: "deaths-dance", roles: ["ad"], title: "Death's Dance" },
    { name: "spear-of-shojin", roles: ["ad"], title: "Spear of Shojin" },
    { name: "titanic-hydra", roles: ["ad"], title: "Titanic Hydra" },
    { name: "stormrazor", roles: ["ad"], title: "Stormrazor" },
    { name: "maw-of-malmortius", roles: ["ad"], title: "Maw of Malmortius" },
    {
      name: "duskblade-of-draktharr",
      roles: ["ad"],
      title: "Duskblade of Draktharr",
    },
    { name: "eclipse", roles: ["ad"], title: "Eclipse" },
    { name: "immortal-shieldbow", roles: ["ad"], title: "Immortal Shieldbow" },
    { name: "runaans-hurricane", roles: ["ad"], title: "Runaan's Hurricane" },
    {
      name: "blade-of-the-ruined-king",
      roles: ["ad"],
      title: "Blade of the Ruined King",
    },
    /* ap */
    {
      name: "lich-bane",
      roles: ["ap"],
      title: "Lich Bane",
    },
    { name: "ludens-echo", roles: ["ap"], title: "Luden's Echo" },
    {
      name: "awakened-soulstealer",
      roles: ["ap"],
      title: "Awakened Soulstealer",
    },
    { name: "morellonomicon", roles: ["ap"], title: "Morellonomicon" },
    { name: "riftmaker", roles: ["ap"], title: "Riftmaker" },
    { name: "horizon-focus", roles: ["ap"], title: "Horizon Focus" },
    /* boots */
    { name: "boots-of-outburst", roles: ["boots"], title: "Boots of Outburst" },
    {
      name: "ionian-boots-of-lucidity",
      roles: ["boots"],
      title: "Ionian Boots of Lucidity",
    },
    /* enchant */ { name: "locket", roles: ["enchant"], title: "Locket" },
  ],
  c: [
    /* ad */
    { name: "the-collector", roles: ["ad"], title: "The Collector" },
    { name: "manamune", roles: ["ad"], title: "Manamune" },
    { name: "essence-reaver", roles: ["ad"], title: "Essence Reaver" },
    {
      name: "chempunk-chainsword",
      roles: ["ad"],
      title: "Chempunk Chainsword",
    },
    { name: "nashors-tooth", roles: ["ad"], title: "Nashor's Tooth" },
    { name: "phantom-dancer", roles: ["ad"], title: "Phantom Dancer" },
    { name: "seryldas-grudge", roles: ["ad"], title: "Serylda's Grudge" },
    { name: "navori-quickblades", roles: ["ad"], title: "Navori Quickblades" },
    /* ap */
    {
      name: "rylais-crystal-scepter",
      roles: ["ap"],
      title: "Rylai's Crystal Scepter",
    },
    {
      name: "archangels-staff",
      roles: ["ap"],
      title: "Archangel's Staff",
    },
    { name: "psychic-projector", roles: ["ap"], title: "Psychic Projector" },
    { name: "cosmic-drive", roles: ["ap"], title: "Cosmic Drive" },
    { name: "rod-of-ages", roles: ["ap"], title: "Rod of Ages" },
    { name: "imperial-mandate", roles: ["ap"], title: "Imperial Mandate" },
    {
      name: "crystalline-reflector",
      roles: ["ap"],
      title: "Crystalline Reflector",
    },
    /* boots */
    { name: "boots-of-outburst", roles: ["boots"], title: "Boots of Outburst" },
    {
      name: "ionian-boots-of-lucidity",
      roles: ["boots"],
      title: "Ionian Boots of Lucidity",
    },
    /* enchant */
    { name: "glorious", roles: ["enchant"], title: "Glorious" },
    {
      name: "revitalizing-grail",
      roles: ["enchant"],
      title: "Revitalizing Grail",
    },
    { name: "magnetron", roles: ["enchant"], title: "Magnetron" },
    { name: "meteor", roles: ["enchant"], title: "Meteor" },
  ],
  d: [
    /* ap */
    {
      name: "mejais-soulstealer",
      roles: ["ap"],
      title: "Mejai's Soulstealer",
    },
    /* enchant */
    { name: "teleport", roles: ["enchant"], title: "Teleport" },
    { name: "repulsor", roles: ["enchant"], title: "Repulsor" },
    { name: "ravenous-hydra", roles: ["enchant"], title: "Ravenous Hydra" },
  ],
};
---

<BaseLayout>
  <ChampionFilter
    champions={items}
    folder="items"
    filter_type={["all", "ad", "ap", "tank", "boots", "enchant", "support"]}
    client:load
  />

  <div
    class="champion-difficulty"
    style="color: white; display: flex; gap: 20px; margin-bottom: 20px; margin-top: 20px;"
  >
    <p>intense</p>
    <p>hard</p>
    <p>average</p>
    <p>simple</p>
  </div>
  <div class="tier-description" style="color: white;">
    <p>
      S+ Tier: These are the absolute strongest champions in Wild Rift right
      now! Not only are they difficult to counter, but they also have the
      potential to dominate every game they are in. With the right hands, these
      champions can single-handedly carry teams to victory, regardless of the
      circumstances.
    </p>
    <p>
      S Tier: Champions in this tier excel in their roles and are exceptionally
      powerful. They may not be as overwhelmingly dominant as S+ Tier picks, but
      their reliability and potential to take over games make them a safe and
      impactful choice.
    </p>
    <p>
      A Tier: These champions are strong and can shine in the right situations.
      While they may not dominate every match, when played strategically, they
      can be incredibly effective and hold their own against most opponents.
    </p>
    <p>
      B Tier: These champions are still viable and can perform well in specific
      scenarios. However, their overall impact tends to be more situational, and
      they might require favorable conditions or a strong team composition to
      maximize their effectiveness.
    </p>
    <p>
      C Tier: Champions in this tier struggle to compete with others and
      generally offer fewer advantages. While they can be fun to play, their
      impact on the game is often much lower, making them a less optimal choice
      for competitive play.
    </p>
  </div>
</BaseLayout>
