---
import BaseLayout from "../layouts/BaseLayout.astro";
import ChampionFilter from "../components/ChampionFilter.jsx";

const champions = {
  s: [
    /* domination */
    { name: "sudden-impact", roles: ["domination"] },
    { name: "eyeball-collector", roles: ["domination"] },
    /* inspiration */
    { name: "glacial-augment", roles: ["inspiration"] },
    { name: "hextech-flashtraption", roles: ["inspiration"] },
    /* precision */
    { name: "legend-bloodline", roles: ["precision"] },
    { name: "coup-de-grace", roles: ["precision"] },
    { name: "legend-alacrity", roles: ["precision"] },
    /* resolve */
    { name: "second-wind", roles: ["resolve"] },
    { name: "nullifying-orb", roles: ["resolve"] },
  ],
  a: [
    /* domination */
    { name: "cheap-shot", roles: ["domination"] },
    /* inspiration */
    { name: "nimbus-cloak", roles: ["inspiration"] },
    { name: "sweet-tooth", roles: ["inspiration"] },
    /* precision */
    { name: "brutal", roles: ["precision"] },
    { name: "legend-tenacity", roles: ["precision"] },
    { name: "giant-slayer", roles: ["precision"] },
    /* resolve */
    { name: "overgrowth", roles: ["resolve"] },
    { name: "bone-plating", roles: ["resolve"] },
  ],
  b: [
    /* domination */
    { name: "mark-of-the-weak", roles: ["domination"] },
    { name: "ingenious-hunter", roles: ["domination"] },
    { name: "empowered-attack", roles: ["domination"] },
    { name: "scorch", roles: ["domination"] },
    /* inspiration */
    { name: "manaflow-band", roles: ["inspiration"] },
    { name: "pathfinder", roles: ["inspiration"] },
    { name: "demolish", roles: ["inspiration"] },
    /* precision */
    { name: "gathering-storm", roles: ["precision"] },
    /* resolve */
    { name: "perseverance", roles: ["resolve"] },
    { name: "courage-of-the-colossus", roles: ["resolve"] },
    { name: "font-of-life", roles: ["resolve"] },
  ],
  c: [
    /* domination */
    { name: "psychic-wave", roles: ["domination"] },
    { name: "zombie-ward", roles: ["domination"] },
    /* inspiration */
    { name: "item-crafting", roles: ["inspiration"] },
    { name: "futures-market", roles: ["inspiration"] },
    /* precision */
    { name: "last-stand", roles: ["precision"] },
    { name: "triumph", roles: ["precision"] },
    /* resolve */
    { name: "revitalize", roles: ["resolve"] },
    { name: "onslaught", roles: ["resolve"] },
  ],
  d: [
    /* domination */
    { name: "shield-bash", roles: ["domination"] },
    /* resolve */
    { name: "loyalty", roles: ["resolve"] },
  ],
};
---

<BaseLayout>
  <h2 class="page-title">Champion Tier List Patch 5.2B</h2>

  <!-- Importujemy komponent filtrowania -->
  <ChampionFilter
    champions={champions}
    folder="runes"
    filter_type={["all", "domination", "inspiration", "precision", "resolve"]}
    client:load
  />
</BaseLayout>
