---
import TabsComponent from "../components/Tabs.jsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro with React Tabs</title>
  </head>
  <body>
    <h1>Aatrox abilities</h1>
    <TabsComponent client:load />
  </body>
</html>
