.container {
  background-color: #172039;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  margin: 10px 7px;
}

.box {
  width: 150px;
  height: 150px;
  background: lightcoral;

  position: relative;
  overflow: hidden;
}

.champion-image {
  position: relative;
}

.champion-image img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.champion-image:hover img {
  transform: scale(1.5);
}

.champion-name {
  position: absolute;
  color: white;
  font-size: 17px;
  background-color: rgb(40, 14, 232);
  width: 100%;
  text-align: center;
  bottom: 0;
  text-transform: uppercase;
  word-spacing: -2px;
}

@media (max-width: 768px) {
  .box {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  .box {
    width: 70px;
    height: 70px;
  }

  .champion-name {
    font-size: 12px;
  }
}
