---
import './Champions.css'
const allChampions = await Astro.glob("../pages/champions/*.md");

import SearchChampions from '../components/SearchFilter.jsx';
---
<section class="champions">
  <div class="container">
    <SearchChampions allChampions={allChampions} client:load />
  </div>
</section>
