---
import "./Champions.css";
const allChampions = await Astro.glob("../pages/champions/*.mdx");

import SearchChampions from "./SearchFilter.jsx";
---

<section class="champions">
  <SearchChampions allChampions={allChampions} client:load />
</section>
