---
---
<style>
    .footer {
        display: flex;
        align-items:center;
        justify-content: center;
        background-color: #172039;
        padding: 20px;
        color: #fff;
    }
</style>

<footer class="footer">
    <p>Designed by Lexiw @2024</p>
</footer>
