---

---

<style>
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #172039;
    padding: 20px;
    color: #fff;
    margin-top: 25px;
  }
</style>

<footer class="footer">
  <p>Lexiw @2024</p>
</footer>
