/* Stylowanie dla motywu jasnego */
body.light-theme {
  background-color: #ffffff;

  .container {
    background-color: #ffffff;
  }

  /* champion layout */
  .skills .container,
  .info .container,
  .summone -spells .container,
  .runes .container,
  .skill-order .container,
  .how2play .container,
  .items .container {
    background-color: #979797;
  }

  /* article */
  .article-title {
    color: black;
  }

  .article-pubDate {
    color: black;
  }

  .article-content {
    color: black;
  }
}

/* Stylowanie dla motywu ciemnego */
body.dark-theme {
  background-color: #1e1e1e;

  .container {
    background-color: #1e1e1e;
  }

  .blog-title {
    color: #ffffff;
  }

  .article-card {
    background-color: #383334;
    color: #fff;
  }

  /* champion layout */
  .skills .container,
  .info .container,
  .summoner-spells .container,
  .runes .container,
  .skill-order .container,
  .how2play .container,
  .items .container {
    background-color: #4d539c;
  }

  /* article */
  .article-title {
    color: white;
  }

  .article-pubDate {
    color: white;
  }

  .article-content {
    color: white;
  }
}
