/* Stylowanie dla motywu jasnego */
body.light-theme {
  background-color: #ffffffa3;

  .container {
    background-color: #ffffffa3;
  }
}

/* Stylowanie dla motywu ciemnego */
body.dark-theme {
  background-color: #1e1e1e;

  .container {
    background-color: #1e1e1e;
  }

  .blog-title {
    color: #ffffff;
  }

  .article-card {
    background-color: #1e1e1e;
    color: #fff;
  }

  /* champion layout */
  .skills .container,
  .info .container,
  .summoner-spells .container,
  .runes .container,
  .skill-order .container,
  .how2play .container,
  .items .container {
    background-color: #a71d32b9;
  }
}

.theme-toggle-btn img {
  width: 30px;
}

.theme {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
